<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
        <div id="doc-nav" class="doc-nav">
            
                <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                    <a class="nav-link font-weight-bold scrollto" href="#download-section">Getting Started</a>
                    <a class="nav-link font-weight-bold" href="#layoutColl"  data-toggle="collapse" href="#layoutColl" aria-expanded="false" aria-controls="layoutColl">Layout</a>
                    <nav class="doc-sub-menu nav flex-column collapse" id="layoutColl">
                            <a class="nav-link" href="../overview.html">Overview</a>
                            <a class="nav-link scrollto" href="#step2">Header</a>
                            <a class="nav-link scrollto" href="#step2">Footer</a>
                            <a class="nav-link scrollto" href="#step2">Grid system</a>
                            <a class="nav-link scrollto" href="#step3">Utilities for layout</a>
                    </nav><!--//nav-->
                    <a class="nav-link font-weight-bold scrollto" href="#installation-section">Typography</a>
                    <a class="nav-link font-weight-bold scrollto" href="#installation-section">Images</a>
                    <a class="nav-link font-weight-bold scrollto" href="#installation-section">Tables</a>
                    <a class="nav-link font-weight-bold scrollto" href="#installation-section">Figures</a>
                    <a class="nav-link font-weight-bold"  href="#componentsColl"  data-toggle="collapse" href="#componentsColl" aria-expanded="false" aria-controls="componentsColl">Components</a>
                    <nav class="doc-sub-menu nav flex-column collapse" id="componentsColl">
                        <a class="nav-link scrollto" href="#step1">Alerts</a>
                        <a class="nav-link scrollto" href="#step1">Toasts</a>
                        <a class="nav-link scrollto" href="#step2">Badges</a>
                        <a class="nav-link scrollto" href="#step3">Breadcrumb</a>
                        <a class="nav-link scrollto" href="#step3">Buttons</a>
                        <a class="nav-link scrollto" href="#step3">Button group</a>
                        <a class="nav-link scrollto" href="#step3">Cards</a>
                        <a class="nav-link scrollto" href="#step3">Collapse</a>
                        <a class="nav-link scrollto" href="#step3">Dropdowns</a>
                        <a class="nav-link scrollto" href="#step3">Forms</a>
                        <a class="nav-link scrollto" href="#step3">Input group</a>
                        <a class="nav-link scrollto" href="#step3">List group</a>
                        <a class="nav-link scrollto" href="#step3">Modal</a>
                        <a class="nav-link scrollto" href="#step3">Pagination</a>
                        <a class="nav-link scrollto" href="#step3">Tooltip</a>
                        <a class="nav-link scrollto" href="#step3">Progress</a>
                        <a class="nav-link scrollto" href="#step3">Spinners</a>
                    </nav><!--//nav-->
                    <a class="nav-link font-weight-bold" href="#utilitiesColl"  data-toggle="collapse" href="#utilitiesColl" aria-expanded="false" aria-controls="utilitiesColl">Utilities</a>
                    <nav class="doc-sub-menu nav flex-column collapse" id="utilitiesColl">
                        <a class="nav-link scrollto" href="#html">Borders</a>
                        <a class="nav-link scrollto" href="#css">Clearfix</a>
                        <a class="nav-link scrollto" href="#sass">Close icon</a>
                        <a class="nav-link scrollto" href="#less">Colors</a>
                        <a class="nav-link scrollto" href="#javascript">Display property</a>
                        <a class="nav-link scrollto" href="#python">Embeds</a>
                        <a class="nav-link scrollto" href="#php">Flex</a>
                        <a class="nav-link scrollto" href="#handlebars">Float</a>
                        <a class="nav-link scrollto" href="#handlebars">Overflow</a>
                        <a class="nav-link scrollto" href="#handlebars">Position</a>
                        <a class="nav-link scrollto" href="#handlebars">Shadows</a>
                        <a class="nav-link scrollto" href="#handlebars">Sizing</a>
                        <a class="nav-link scrollto" href="#handlebars">Spacing</a>
                        <a class="nav-link scrollto" href="#handlebars">Stretched link</a>
                        <a class="nav-link scrollto" href="#handlebars">Text alignment</a>
                        <a class="nav-link scrollto" href="#handlebars">Vertical alignment</a>
                        <a class="nav-link scrollto" href="#handlebars">Visibility</a>
                    </nav><!--//nav-->
                    <a class="nav-link font-weight-bold scrollto" href="#callouts-section">Fonts</a>
                    <a class="nav-link font-weight-bold scrollto" href="#tables-section">Icons</a>
                </nav><!--//doc-menu-->
            
        </div>
    </div><!--//doc-sidebar-->